.nav0{

    background-color: #FCAF3B; 
    color: #1D4E56;   
    font-weight: bold;
    margin-top: 10px;
    
    }
    
    
    .img{
        height:auto;
        max-width:100%;
        width:70px;
    }