/* .area{
background-color: grey;
width:450px;
height: 270px;

}
.sa_myimage{
    height: 270px;
    width:450px;
}
.myphone{
    height: 60px;
    width: 60px;

    margin-left: -35.5em;
   margin-bottom: -11em;
}

.here{
    color: #FCAF3B;
    font-weight: bold;
    font-size: 30px;
    padding-top: 100px;
}

.sa_together{
   
    display: flex;
    flex-direction: row;
    width: 90%;
     padding-top: 5em;
    margin-left: 20em;
    margin-right: 5em;

    
}




 

    ul li:hover img {
        transform: scale(1.2);
       
    }
    
    

  */
  .containerr{ 
    position: relative;
    width: 100%;
    justify-content: center;
    background-position: center;
    text-align: center;





 
  }

  .imageee {
    text-align: center;

    display: block;
    width: 100%;
    height: auto;
    height: 20rem; 
     width: 35rem;

     justify-content: center;
     background-position: center;




  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 20rem; 
    width: 35rem;

    opacity: 0;
    transition: .5s ease;
    background-color: #005f6a;
  }

  .containerr:hover .overlay {
    opacity: 1;
  }

  .textt {
    color: orange;
    font-size: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* .SA_Talk{

    display: block;
    margin-left: auto;
    margin-right:auto ;
  }
     */

 